.rightHeadMenu{
    background-color: #ffff;
    padding: 14px 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    box-shadow: rgb(215 215 215) 3px 3px 11px -2px;
}
.sortRightmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 300;
}
.sortSelectOption>select{
    margin-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 47px;
    padding-left: 5px;
    border: 1px solid #10101047;
}